:root {
    --Blue: hsl(248, 32%, 49%);
    --DarkBlue: hsl(249, 10%, 26%);
    --GrayishBlue: hsl(246, 25%, 77%);
    --Green: hsl(154, 59%, 51%);
    --Red: hsl(0, 100%, 74%);
    --White: hsl(255, 100%, 100%);
}

*, body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--Red);
}

body, input {
    font-family: 'Poppins', sans-serif;
}

/* Intro Section */

.intro {
    background: url(../images/bg-intro-mobile.png) fixed top center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: var(--White);
    padding: 1.5rem;
}

/* Presentation (Up / Left) */

.intro__presentation {
    padding: 1.5rem 0;
}

.intro__presentation--title {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 2rem;
    text-align: center;
}

.intro__presentation--subtitle {
    font-size: 1rem;
    text-align: center;
}

/* Sign Up (Down / Right) */

.intro__signup--trial {
    background-color: var(--Blue);
    border-radius: 0.6rem;
    height: 5rem;
    box-shadow: 0px 8px 2px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 8px 2px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 8px 2px 0px rgba(0, 0, 0, 0.12);
    margin: 1.3rem 0;
}

.intro__signup--message {
    padding: 0 3rem;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.intro__signup--message span {
    font-weight: 700;
}

.intro__signup--form {
    background-color: var(--White);
    border-radius: 0.6rem;
    box-shadow: 0px 8px 2px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 8px 2px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 8px 2px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    padding: 1.3rem;
}

.intro__signup--input {
    border: 1px solid rgb(226, 226, 226);
    margin-bottom: 1rem;
    padding: 1rem;
}

.intro__signup--input::placeholder {
    font-weight: 700;
}

.intro__signup--cta {
    background-color: var(--Green);
    border: 0px transparent;
    border-radius: 0.4rem;
    color: var(--White);
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    padding: 1.2rem;
    text-transform: uppercase;
    /* box-shadow: horizontal vertical difuminado tamaño */
    box-shadow: 0px 2px 1px 1px rgba(58, 163, 118, 0.9);
    -moz-box-shadow: 0px 2px 1px 1px rgba(58, 163, 118, 0.9);
    -webkit-box-shadow: 0px 2px 1px 1px rgba(58, 163, 118, 0.9);
}

.intro__signup--terms {
    color: var(--GrayishBlue);
    font-size: 0.7rem;
    padding: 0 1.3rem;
    text-align: center;
}

.intro__signup--terms span {
    color: var(--Red);
    font-weight: 700;
}
