:root {
    --Blue: hsl(248, 32%, 49%);
    --DarkBlue: hsl(249, 10%, 26%);
    --GrayishBlue: hsl(246, 25%, 77%);
    --Green: hsl(154, 59%, 51%);
    --Red: hsl(0, 100%, 74%);
    --White: hsl(255, 100%, 100%);
}

*, body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: margin .4s linear, padding .4s linear, width .4s linear, height .4s linear, font-size .8s linear;
}

body {
    background-color: var(--Red);
    font-weight: 400;
}

body, input {
    font-family: 'Poppins', sans-serif;
}

/* Intro Section */

.intro {
    background: url(../images/bg-intro-mobile.png) fixed top center repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: var(--White);
    height: 100vh;
    padding: 1.5rem;
}

/* Presentation (Up / Left) */

.intro__presentation {
    padding: 1.5rem 0;
}

.intro__presentation--title {
    font-size: 1.8rem;
    font-weight: 700;
    padding: 2rem;
    text-align: center;
}

.intro__presentation--subtitle {
    font-size: 1rem;
    text-align: center;
}

.intro__presentation--title,
.intro__presentation--subtitle {
    cursor: context-menu;
}

/* Sign Up (Down / Right) */

.intro__signup--trial {
    background-color: var(--Blue);
    border-radius: 0.6rem;
    box-shadow: 0px 6px 2px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 6px 2px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 6px 2px 0px rgba(0, 0, 0, 0.12);
    height: 5rem;
    margin: 1.3rem 0;
    cursor: context-menu;
}

.intro__signup--message {
    font-weight: 200;
    padding: 0 3rem;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.intro__signup--message span {
    font-weight: 700;
}

.intro__signup--form {
    background-color: var(--White);
    border-radius: 0.6rem;
    box-shadow: 0px 8px 2px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 8px 2px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 8px 2px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    padding: 1.3rem;
}

.intro__signup--input {
    border: 1px solid rgb(226, 226, 226);
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    padding: 1rem 1.2rem;
}

.intro__signup--input:focus {
    border: 1px solid var(--Blue);
    outline-color: var(--White);
    outline-style: solid;
    outline-width: thin;
}

.intro__signup--input::placeholder {
    font-weight: 600;
}

.intro__signup--cta {
    background-color: var(--Green);
    border: 0px transparent;
    border-radius: 0.4rem;
    box-shadow: 0px 2px 1px 1px rgba(58, 163, 118, 0.9);
    -moz-box-shadow: 0px 2px 1px 1px rgba(58, 163, 118, 0.9);
    -webkit-box-shadow: 0px 2px 1px 1px rgba(58, 163, 118, 0.9);
    color: var(--White);
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    padding: 1.2rem;
    text-transform: uppercase;
}

.intro__signup--cta:hover {
    cursor: pointer;
    background-color: rgba(56, 204, 140, 0.8);
    box-shadow: 0px 2px 1px 1px rgba(53, 167, 117, 0.8);
    -moz-box-shadow: 0px 2px 1px 1px rgba(53, 167, 117, 0.8);
    -webkit-box-shadow: 0px 2px 1px 1px rgba(53, 167, 117, 0.8);
}

.intro__signup--terms {
    color: var(--GrayishBlue);
    font-size: 0.7rem;
    padding: 0 1.3rem;
    text-align: center;
    cursor: context-menu;
}

.intro__signup--terms a {
    color: var(--Red);
    font-weight: 700;
    text-decoration: none;
}

.intro__signup--terms a:hover {
    color: rgb(255, 122, 122, 0.9);
}

/* Tablet S*/
@media only screen and (min-width: 600px) {
    .intro {
        margin: 0 auto;
        width: 85%;
    }

    .intro__signup--input {
        padding: 1rem 2rem;
    }

}

/* Tablet M */

@media only screen and (min-width: 768px) {
    .intro {
        align-items: center;
        background: url(../images/bg-intro-desktop.png) fixed center center repeat;
        display: flex;
        justify-content: center;
        padding: 0 2rem;
        width: 90%;
    }

    .intro__presentation {
        padding: 0 2rem 0 1rem;
        width: 70%;
    }

    .intro__presentation--title {
        padding: 0 2rem 2rem 0;
        font-size: 1.8rem;
    }

    .intro__presentation--title,
    .intro__presentation--subtitle {
        text-align: left;
    }
}

/* Desktop */

@media only screen and (min-width: 992px) {
    .intro {
        padding: 0 4rem;
        width: 100%;
    }

    .intro__presentation {
        padding: 0 3rem 0 2rem;
        width: 60%;
    }

    .intro__presentation--title {
        font-size: 2.2rem;
        padding: 0 2rem 1.5rem 0;
    }

    .intro__signup--trial {
        height: 3.6rem;
    }

    .intro__signup--form {
        padding: 2rem;
    }

    .intro__signup--terms {
        padding: 0 2.5rem;
    }

}

/* Desktop XL */

@media only screen and (min-width: 1024px) {
    .intro__presentation {
        padding: 0 3rem 0 2rem;
        width: 60%;
    }

    .intro__presentation--title {
        padding: 0 0 1.6rem 0;
    }

    .intro__signup--terms {
        padding: 0 4rem;
    }
}

@media only screen and (min-width: 1127px) {
    .intro {
        padding: 0 8rem;
    }

    .intro__signup--terms {
        padding: 0 2rem;
    }
    
}

@media only screen and (min-width: 1264px) {
    .intro__presentation {
        padding: 0 4rem 0 2rem;
        width: 50%;
    }

    .intro__presentation--title {
        font-size: 2.9rem;
    }
}

@media only screen and (min-width: 1668px) {
    .intro__presentation--title {
        font-size: 3rem;
        padding-right: 1rem;
    }
}